<div class="row">
    <div class="col-md-6">
        <h4 class="text-center my-4">Search for Weather:</h4>
        <form [formGroup]='searchWeatherForm'>
            <div class="form-group">
                <input class="form-control" type="text" id="weatherLocation" placeholder="Please input a Location"
                    formControlName="location" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-md" (click)="SearchWeather(searchWeatherForm.value)">
                    Search for the weather
                </button>
            </div>
        </form>
    </div>
</div>