.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

.message-area{
    position: fixed;
    bottom: 0;
    margin: 30px 0px 0px;
    width: 100%;
    background-color: white
}
.message-area button {
    float: right;
    position: absolute;
    right: 0;
    border-radius: 0px;
}